.container {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container {
  border: solid 1px;
  border-radius: 5px;
  height: 90vh;
  width: 40vw;
  padding: 1rem;
}
.top_container {
  border: solid 1px;
  border-radius: 5px;
  padding: 2vh;
  height: 16vh;
}
input {
  width: 100%;
  height: 5vh;
  border: solid 1px;
  border-radius: 5px;
}
.top-btn {
  width: 100%;
  height: 5vh;
  margin: 2vh 0vh;
}
.btn_all {
  width: 10vw;
  float: left;
}
.btn_done {
  width: 10vw;
  margin: 0px 2vw;
}
.btn_todo {
  width: 10vw;
  float: right;
}
button {
  height: 5vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.list {
  height: 48vh;
}
.todo {
  padding-right: 40px;
  min-height: 6vh;
  min-width: 28vw;
  display: flex;
  position: relative;
  margin: 10px 0px;
  float: left;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3),
    inset 5px 5px 10px -5px rgba(0, 0, 0, 0.3);
}
ol {
  top: 1vh;
  position: relative;
  height: 42vh;
  overflow-y: auto;
}
ol li {
  display: block;
  min-width: 30vw;
  padding: 0px 8px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  color: #000000;
  margin: 0px;
}
li .icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: red;
  margin-left: 200px;
  right: 10px;
  position: absolute;
  top: 12px;
}
li .edit {
  width: 20px;
  height: 20px;
  color: rgb(255, 166, 0);
  margin-left: 10vw;
  right: 35px;
  position: absolute;
  top: 12px;
}
li .checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  margin-left: 20vw;
  right: 60px;
}
